.header{
    display: flex;
    background-color: #2f4f4f;
    justify-content:space-between ;
    padding:10px;
}
.learn {
    display:flex;
}
.learn-heading {
    margin:15px;
    color:#ffffff
}
.upgrade-heading {
    margin:15px;
     color:#ffffff
}
.home-section {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    border-bottom: 3px solid gray;

}
.home-heading {
    font-size:30px;
}
.current-value {
    color:green;
}
.dashbord-section {
    display: flex;
    justify-self: space-around;
}
.dashboard{
    margin:5px;
}
.transaction {
    margin:5px;
}
.profile {
    margin:5px;
}
.referal {
    margin:5px;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin:5px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.jaggy {
    margin:3px;
}
